extends layout

block content
    h1= "Edit Part"
    div.newpart
        form( method="post")
            input(name="_id", type="hidden", value=part._id.toHexString()) 
            div
                div
                    span.label Ref :
                    input(type="text", name="ref", id="editPartRef", value=part.ref)
                div
                    span.label Description :
                    input(type="text", name="descr", id="editPartDescr", value=part.descr)
                div
                    span.label Brand :
                    input(type="text", name="brand", id="editPartBrand", value=part.brand)
                div#editPartSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Part List"